.finishing-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .finishing-card {
        display: flex;
        padding: 1rem;
        border-radius: 0.5rem;
        width: 55rem;

        .finishing-content {

            .finishing-total {
                display: flex;
                justify-content: space-between;
                margin-top: 1rem;
                padding: 0rem 2rem;
            }

            .finising-summary {
                background-color: rgb(238, 238, 238);
                border-radius: 0.3rem;
                margin-top: 2rem;
                display: flex;
                flex-direction: column;
                padding: 1.2rem 1.4rem;
                height: 7rem;
                justify-content: space-between;

                .row {
                    display: flex;
                    justify-content: space-between;

                    .row-1 {
                        display: flex;
                        flex-direction: column;
                    }
                }

                .divider {
                    border-bottom: 1px solid black;
                }
            }

            margin-left: 8rem;
            .finishing-header-wrapper {
                margin-top: 2.5rem;
                display: flex;
                flex-direction: column;
                justify-content: center;

                .finishing-header {
                    font-size: 2rem;
                    font-weight: bold;
                    padding: 0;
                    margin: 0;
                }

                .finishing-desc {
                    margin-top: 0.5rem;
                    color: gray;
                }
            }

            position: relative;
            .submit-button {
                padding: 0.5rem 1rem;
                background-color: rgb(39, 39, 227);
                color: white;
                border-radius: 0.4rem;
                position: absolute;
                right: 0;
                bottom: 5rem;
            }

            .go-back-button {
                padding: 0.5rem 1rem;
                position: absolute;
                left: 0;
                bottom: 5rem;
                border: none;
                background: transparent;
            }
        }
    }
}